@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #b843ea;
  --primary-color-dark: #9b44ed;
  --secondary-color:#ebb9ec;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}
.about{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center;
    justify-content: center;
    background:#f7e6ff;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    color: #2b272b;
}
.left-about img{
    width: 60%;
    height: auto;
    padding-left: 10%;
    border-radius: 600%;
}
.right-about {
    padding-right: 10%;
    height: auto;
    text-align: center;
}
.right-about h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 10px auto 20px auto;
}
.right-about h4 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px auto 20px auto;
}
.right-about p {
    font-size: 20px;
    font-weight: 600;
    /* padding: 0 50px; */

}
.Portfolio{
 /*   background: url('Images/dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: var(--extra-light);
    color: var(--text-dark);
    width: 100%;
    height: 100vh;
}
.Portfolio h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.Portfolio h3{
  color: var(--text-dark);
}
.portfolio-grid {
    border: 2px solid #ffffff;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    text-align: center;
}

ol li{
  text-decoration: none;
  list-style: none;
  
}
.left-about:hover{
    color: #a855f7;
}
.Services{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-top: 10%;
  max-height: 100vh; 
  background:#f7e6ff ;
  height: 100vh;
  /* width:100%; */
  
}
.Services-heading {
  width: 50%;
  margin: auto;
}
.container{
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 60px 0;
  gap: 60px;
}
.container .box{
  position: relative;
  width: 300px;
  height: auto;
  background:var(--extra-light);
  display: flex;
  justify-content: center;
  align-items: center;

}
.container .box .content2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding:0 20px;
  width: 100%;
  height:auto;
  overflow: hidden;
}
.container .box .content2 .Icons{
  color: var(--clr);
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 4px, 0 0 0 6px var(--clr);
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:  1.5em;
  background: rgb(214,71,195);
  transition: 0.5s ease-in-out;
}
.container .box:hover .content2 .Icons{
  background:var(--clr);
  color: #2e2e2e;
  box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
    
}
.container .box .content2 .text h3{
  font-size: 2.5rem;
  color: var(--text-dark);
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content2 .text h3{
  color: #2e2e2e;
}
.container .box .content2 .text p{
  color: var(--text-dark);
  transition: 0.5s ease-in-out;
  font-size: 1.1rem;
}
.container .box:hover .content2 .text p{
  color: #1f2937;
}

/*.container .box .content2 .text a{
  position: relative;
  background: var(--clr);
  color: #1f2937;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content2 .text a{
  background: #1f2937;
  color: var(--clr);
}*/

.container3{
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 10%;
  background: var(--extra-light);
  font-size: 14px;
}

.contact-box{
  background: #fff;
  display: flex;
}
.contact-left{
  flex-basis: 60%;
  padding: 44px 60px;
}
.contact-right{
  flex-basis: 50%;
  padding: 40px;
  background: rgb(194,70,217);
  color: #fff;
}
h1{
  margin-bottom: 10px;
}
.container3 p{
  margin-bottom: 40px;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
  color: rgb(185,67,233);
}
.button2{
  background: rgb(185,67,233);
  width: 100px;
  border: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
margin-top: 20px;
box-shadow: 0px 5px 15px rgb(185,67,233);
}
.contact-left h3{
color: rgb(185,67,233);
font-weight: 600;
margin-bottom: 30px;
}
.contact-left h3{
  font-weight: 600;
  margin-bottom: 30px;
  }
  tr td:first-child{
padding: 20px;
  }
  tr td{
      padding-top: 20px;
  }
/*weatherwidget-io{
  margin-top: 60px;
}
*/
/* .Services h1{
  display: flex;
  text-align: center;
  align-items: center;
} */
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.Services h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.Weather {
  width: 100%;
  height: 100vh;
}
.container4 {
  text-align: center;
  padding-top: 25%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:100%;
  height: 100vh;
}

#location {
  font-size: 18px;
  margin-bottom: 10px;
}

#Weather {
  font-size: 24px;
}
@media (max-width: 1445px) {
  .section {
    padding-left: 10%;
  }
  .about {
    justify-content:space-evenly;
    padding: 5% 10%;
  }
  .left-about img {
    height: auto;
    width: 100%;
  }
  .right-about h1 {
    font-size: 3rem;
  }
  .right-about p {
    font-size: 1.1rem;
  }
  .Services {
    width: 100%;
    height: 100vh;
    padding-top: 12%;
  }
  .container .box .content2 .Icons {
    font-size: 1.5rem;
  }
  .container .box .content2 .text h3 {
    font-size: 1.5rem;
  }
  .container .box .content2 .text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 10% 0;
  }
  .left-about img {
    width: 80%;
    margin: auto;
  }
  .right-about h1 {
    font-size: 30px;
  }
  .right-about h4 {
    font-size: 25px;
  }
  .right-about p {
    font-size: 15px;
  }
  .content {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding: 40% 0;
  }
  .container .box .content2 .text h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 10% 0;
  }
}
@media (max-width: 880px) {
  .Services {
    padding-top: 20%;
  }
  .container3 {
    padding: 15% 0;
    width: 90%;
    margin: auto;
  }
  .container4 {
    padding: 30% 0;
  }
}
@media (width < 760px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 6rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .title {
    font-size: 1.8rem;
  }
  .right-about {
    padding: 0 10%;
  }
  .content {
    padding: 0;
    gap: 0;
  }
  .image {
    grid-area: 1/1/2/2;
    text-align: center;
  }

  .action__btns {
    margin: auto;
    
  }
  .action__btns .portfolio{
    height: 113px;
    margin: auto;
  }
  .Weather{
    padding: 50%;
  }
  #about {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .about {
    padding-top: 15%;
  }
  #about .right-about h1 {
    font-size: 40px;
  }
  #about .right-about h4 {
    font-size: 25px;
  }
  #about .right-about p {
    font-size: 15px;
  }
  #about div:nth-of-type(1) {
    order: 2;
  }
  .left-about {
    text-align: center;
  }
  .left-about img {
    width: 50%;
    margin: auto;
  }
  .Services {
    height: 100vh;
    padding: 19% 0 0 0;
  }
  #Services .container {
    height: auto;
    width: 100%;
    padding-bottom: 0;
  }
  .Services h1 {
    font-size: 35px;
  }
  .container .box .content2 .Icons {
    font-size: 1rem;
}.container .box .content2 .text p {
  font-size: 15px;
}
  #Weather {
    padding: 10% 0 0 0;
  }
}
@media (max-width: 650px) {
  .image img {
    width: 250px;
    height: auto;
    margin: auto;
  }
  .title {
    font-size: 25px;
  }
  .action__btns .portfolio {
    height: 70px;
    width: auto;
    margin: auto;
  }
  .hire__me {
    height: 70px;
    width: auto;
    margin: auto;
  }
  .Services {
    padding-top: 20%;
  }
  .container .box .content2 .text p {
    font-size: 13px;
  }
  .container3 {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 570px) {
  .container .box .content2 .text p {
  font-size: 11px;
}
}
@media (max-width: 450px) {
.section {
  padding: 0;
}
  #about .right-about p {
  font-size: 12px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  padding: 5% 50%;
}
.Services {
  padding-top:20%;
}
.container3 {
  width: 90%;
  height: 100vh;
  margin: auto;
  align-items: center;
  text-align: center;
}
.contact-box {
  width: 100%;
  gap: 0;
  display: grid;
  grid-template-columns: 1fr;
}
.button2 {
  margin-bottom: 5%;
}
.contact-left {
  flex-basis: auto;
  padding: 0;
  width: 300px;
}
.contact-right {
  width: 300px;
}

.google-map {
  /* margin-right: 10%; */
  width: 150px;
}
table {
  width: inherit;
  left: 0;
  right: 0;
  margin: auto;
}
.Contact {
  margin-top: 40%;
}
.container4 {
  height: 100vh;
  margin-top: 20%;
  padding-top: 40%;
}
}
@media (max-width: 412px) {
  .container3 {
    height: 100vh;
    padding-top: 40%;
  }
  .container4 {
    margin-top: 80%;
  }
  .container.content2 .Icons .box{
    height: 5vh;
  }

}
@media (max-width:414px) {
  .Services .content2 p{
    font-size: 0.3rem;
  }
}
